AUTHENTIK_POSTGRESQL__USER=$DCSM{AUTHENTIK_POSTGRESQL__USER}
AUTHENTIK_POSTGRESQL__PASSWORD=$DCSM{AUTHENTIK_POSTGRESQL__PASSWORD}
AUTHENTIK_POSTGRESQL__NAME=$DCSM{AUTHENTIK_POSTGRESQL__NAME}
AUTHENTIK_SECRET_KEY=$DCSM{AUTHENTIK_SECRET_KEY}

