AUTHENTIK_POSTGRESQL__USER=$AUTHENTIK_POSTGRESQL__USER
AUTHENTIK_POSTGRESQL__PASSWORD=$AUTHENTIK_POSTGRESQL__PASSWORD
AUTHENTIK_POSTGRESQL__NAME=$AUTHENTIK_POSTGRESQL__NAME
AUTHENTIK_SECRET_KEY=$AUTHENTIK_SECRET_KEY

