APP_FULL_BASE_URL="https://passwords.moomers.org"
DATASOURCES_DEFAULT_DRIVER="Cake\Database\Driver\Postgres"
DATASOURCES_DEFAULT_ENCODING="utf8"
DATASOURCES_DEFAULT_URL="postgres://$DCSM{PASSBOLT_PG_USER}:$DCSM{PASSBOLT_PG_PASS}@postgres.purr:5432/$DCSM{PASSBOLT_PG_DB}?schema=passbolt"
EMAIL_TRANSPORT_DEFAULT_HOST="172.20.1.1"
EMAIL_TRANSPORT_DEFAULT_PORT=25
EMAIL_DEFAULT_FROM_NAME="Passbolt"
EMAIL_DEFAULT_FROM="admins@moomers.org"
PASSBOLT_META_TITLE="Moomers Passwords"
PASSBOLT_PLUGINS_SSO_PROVIDER_OAUTH2_ENABLED=true

# vim:ft=bash
