# You can find documentation for all the supported env variables at:
# https://immich.app/docs/install/environment-variables

# redis stuff:
REDIS_HOSTNAME=redis.purr
REDIS_DBINDEX=1

# DB stuff:
DB_HOSTNAME=immich.db
DB_DATABASE_NAME=$DCSM{IMMICH_PG_DB}
DB_PASSWORD=$DCSM{IMMICH_PG_PASS}
DB_USERNAME=$DCSM{IMMICH_PG_USER}

# other
TZ="Etc/UTC"

# vim:ft=bash
